<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net461" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net461" developmentDependency="true" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>