[*.cs]

# IDE0058: Значение выражения никогда не используется
csharp_style_unused_value_expression_statement_preference = discard_variable:warning

# CA1303: Не передавать литералы в качестве локализованных параметров
dotnet_diagnostic.CA1303.severity = none
